<div fxLayout="column" class="wrapp-buscador center m-width-1200">
  <div>
    <h2 class="weight-4">Buscador de Aves</h2>
    <mat-divider></mat-divider>
  </div>
  <div fxLayout="column">
    <h3 class="weight-4">Buscador</h3>

    <mat-form-field>
      <input type="text"
            placeholder="Pick one"
            aria-label="Number"
            matInput
            [(ngModel)]="termino"
            [matAutocomplete]="auto"
            (input)="buscando()">
      <mat-autocomplete autoActiveFirstOption 
                        #auto="matAutocomplete"
                        (optionSelected)="opcionSeleccionada( $event )">
        <mat-option *ngFor="let bird of birds" [value]="bird">
          {{ bird.nombre }}
        </mat-option>

        <mat-option value="" *ngIf="birds.length === 0 && termino.trim().length >0">
          No se encontró nada con el término {{ termino }}
        </mat-option>

      </mat-autocomplete>
    </mat-form-field>

  </div>

  <div *ngIf="birdSeleccionado">
    <app-bird-tarjeta [bird] ="birdSeleccionado"></app-bird-tarjeta>
  </div>


</div>
