
<div class="wrapp center" fxLayoutAlign="center center" fullscreen>


  
  <div fxLayout="column" class="box-login border-primary shadow" fxFlex="50" fxFlex.xs = "90">

    <div>
      <button class="btn-registro" 
              mat-button color="accent"
              (click)="goToRegister()"
              >
              Quiero Registrarme
            </button>
    </div>
    

    <mat-form-field fxFlex="100">
      <mat-label>Nombre usuario</mat-label>
      <input matInput
              type="text"
              [(ngModel)]="loginInput.usuario"
              required
              (input)="hayError =false">
      <mat-error *ngIf="loginInput.usuario.trim().length == 0">
        Please enter a Name
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput
              [type]="hide ? 'password' : 'text'"
              [(ngModel)]="loginInput.id"
              (input)="hayError =false"
              required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="loginInput.id.trim().length == 0">
        Please enter a Password
      </mat-error>
    </mat-form-field>

    <span p-5></span>

    
    <button mat-raised-button 
    class="btn-ingresar"
    color="primary"
    (click)="login()"
    type="submit">
      Login
    </button> 

    <mat-error class="error-message pad" *ngIf="hayError">
      **{{mensaje}}
    </mat-error>
  </div>
</div>
















<!-- 
<div class="wrapp" fxLayout="row" fxLayoutAlign="center center">
  <div class="box-login" fxLayout="column">

    <mat-form-field fxFlex="100">
      <mat-label>Nombre usuario</mat-label>
      <input matInput
              type="text"
              [(ngModel)]="loginInput.usuario"
              required>
      <mat-error *ngIf="loginInput.usuario.trim().length == 0">
        Please enter a Name
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput
              type="password"
              [(ngModel)]="loginInput.id"
              required>
      <mat-error *ngIf="loginInput.id.trim().length == 0">
        Please enter a Password
      </mat-error>
    </mat-form-field>

    <button mat-raised-button 
    color="primary"
    (click)="login()"
    type="submit">
      Ingresar
    </button>

  </div>

</div>






<mat-grid-list cols="1">
  <mat-grid-tile>
    <button mat-raised-button 
            color="primary"
            (click)="login()">
      Ingresar
    </button>
  </mat-grid-tile>
</mat-grid-list> --> 
