
    .wrapp{
      height:100vh;
      background-image: url(../../../../assets/birds/fondo.jpg); 
      background-size: cover; 
      background-repeat:no-repeat;  
    }
    .box-login{
      border-radius:5px;
      padding:5%;
      max-width:400px;
      background-color: #303030;
      position:relative;
    }
    .error-message{
      position:absolute;
      bottom:0;
      font-size:.8rem;
    }
    button{
      padding:0;
    }
    .btn-ingresar{
      margin-top:20px;
    }