
<div class="m-width-1200 center">

  <h2 class=".title-brd-2 weight-4">
      {{ 
        (bird.id)
          ? 'Editar'
          : 'Nueva'
      }}
      Ave 
    <small class="weight-4 op-5">{{bird.nombre}}</small>
  </h2>
  
  <mat-divider></mat-divider>
  
  
  <div  fxLayout="row" 
        fxLayoutGap="40px"
        fxLayout.xs="column"
        class="form-add-bird p-2">
  
    <div fxFlex="50" fxLayout="column">
  
      <div  fxLayout="row" 
            fxLayout.sm="column"
            fxLayout.xs="column"
            >
  
        <mat-form-field fxFlex="100" fxLayout.xs="column">
          <mat-label>Nombre de ave</mat-label>
          <input matInput
                  type="text"
                  [(ngModel)]="bird.nombre"
                  required>
        </mat-form-field>
    
        <mat-form-field >
          <mat-label>Nombre científico</mat-label>
          <input matInput
                  type="text"
                  required
                  [(ngModel)]="bird.nombre_cientifico">
        </mat-form-field>
  
      </div>
  
      <mat-form-field>
        <mat-label>Descripción</mat-label>
        <!-- <input matInput
                type="text"
                required
                [(ngModel)]="bird.descripcion"
                > -->
        <textarea 
        matInput
        type="text"
        [(ngModel)]="bird.descripcion"
        required>

        </textarea>

      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Alimentación</mat-label>
        <input matInput
                type="text"
                required
                [(ngModel)]="bird.alimentacion">
      </mat-form-field>
  
  
  
      <!-- familia -->
  
      <mat-form-field>
        <mat-label>Famila</mat-label>
        <mat-select [(ngModel)]="bird.familia"
                    required>
          <mat-option *ngFor="let familia of familias"
                        [value]="familia.id">
            {{familia.desc}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
  
  
  
  
      <mat-form-field>
        <mat-label>Foto URL</mat-label>
        <input matInput
                type="url"
                [(ngModel)]="bird.alt_img"
                required>
      </mat-form-field>
  
      <br>
  
      <div fxLayout>
        <button mat-raised-button 
                color="primary"
                (click)="guardar()">
          {{(bird.id) ? 'Actualizar': 'Crear'}}
        </button>
  
        <span class="spacer"></span>
  
      <button *ngIf="bird.id"
              mat-raised-button
              (click)="borrarBird()">
        <mat-icon>delete</mat-icon>
          Eliminar
      </button>
    </div>
  
  
    </div>
  
    <div fxFlex="50">
      <img [src]="bird | imagen"
      onerror="this.src='./../../../../assets/no-image.png'">
    </div>
  
  </div>


</div>  
