/* You can add global styles to this file, and also import other style files */

@use 'styles/theme';

:root {
  // background: pink;
  --primary:#718C85;
  --accent: #e8b623;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif }


::-webkit-scrollbar {
  width: 4px;
  overflow-y: scroll;
  background: rgba(128, 128, 128, 0);
  box-shadow: inset 0 0 4px #70707000;
}

::-webkit-scrollbar-thumb {
  background: rgb(20, 20, 21);
  border-radius: 10px;
}

.spacer{
  flex:1 1 auto;
}

// ///////////////////////////fonts


@mixin text ($color, $size){
  font-family:'Libre Baskerville', serif;
  color:$color;
  font-size:$size;
  font-weight: 300;
}

.bgc-primary{
  background-color: var(--primary);
}

.bgc-accent{
  background-color: var(--accent);
}

.border-primary{
  border:1px solid var(--primary); 
}


.title-brd-1{
  @include text(var(--primary), 2.5rem);
}

.title-brd-2{
  @include text(var(--primary), 1.5rem);
}

.weight-4{
  font-weight: 400;
}



///////////////////////////////////////////////////


.center{
  margin-left: auto;
  margin-right: auto;
}

.m-width-1200{
  max-width: 1200px;
}


.shadow{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.op-5{
  opacity: .5;
}

.p-5{
  padding:50px;
}

.p-2{
  padding:20px;
}
