
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{bird.nombre }}</mat-card-title>
      <mat-card-subtitle>{{ bird.nombre_cientifico }}</mat-card-subtitle>
    </mat-card-header>
  
    <!-- <img mat-card-image src="assets/heroes/{{bird.id}}.jpg"> -->
    <img mat-card-image [src]="bird | imagen" onerror="this.src='./../../../../assets/no-image.png'">
  
    <mat-card-content>
      <h3 class="weight-4"><span>Familia: </span> {{ bird.familia}}</h3>
      <p>
        {{ descripcionAve }}
      </p>
    </mat-card-content>
  
    <mat-card-actions style="display:flex">
      <button mat-stroked-button
              color="primary"
              [routerLink]="['/birds', bird.id]">
        Leer más....
      </button>
      <span class="spacer"></span>
      <button mat-stroked-button color="accent"
              [routerLink]="['/birds/editar', bird.id]">
        Editar....
      </button>
  
    </mat-card-actions>
  
  </mat-card>